@{
    ViewData["Title"] = "Stages";
    //Layout = "_Layout";
}

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<div class="page-header">
    <h1 class="page-title">Students Books</h1>
    <div class="page-header-actions">
        <ol class="breadcrumb">
            @*<li class="breadcrumb-item"><a href="/Management/ManagmentSetting/dashboard">School Management</a></li>*@
            <li class="breadcrumb-item active">
                <a href="/StudentBooks/Create" class="btn btn-success" data-toggle="tooltip" title="Borrow Book">Borrow Book</a>
            </li>
        </ol>
    </div>
</div>
<div class="page-content">
    <!-- Panel Basic -->
    <div class="panel">


        <header class="panel-heading">
            <div class="row row-lg">
                <div class="col-xl-12">

                </div>

            </div>

            <h3 class="panel-title"></h3>
        </header>
        <div class="panel-body">
            <div class="col-lg-12">
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>StudentName</th>
                            <th>BookName</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                            @* <th>
                                    <label id="delconfirm" style="display:none"> Are you sure you want to delete ...?")</label>
                                    <label id="delsuccess" style="display:none"> Deleted Successfully..!")</label>
                                    <label id="delfail" style="display:none"> Can't delete..!")</label>
                                </th>*@
                        </tr>
                    </thead>
                </table>

            </div>

        </div>
    </div>
</div>

<!-- End Panel Table Add Row -->
@section scripts{

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#example").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/StudentBooks/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                    ],
                "columns":
                    [
                        { "data": "Id", "name": "Id", "autoWidth": true },
                        { "data": "StudentName", "name": "StudentName", "autoWidth": true },
                        { "data": "BookName", "name": "BookName", "autoWidth": true },
                        { "data": "Date", "name": "Date", "autoWidth": true },
                        { "data": "Status", "name": "Status", "autoWidth": true },
                        {
                            "render": function (data, type, full, row) {
                                if (full.Status == "Retrived") {
                                    return '';
                                } else {
                                    return `<a  href="#" onclick="RetriveBook(${full.Id})"  class="btn btn-info" data-toggle="tooltip" title="Retrive Selected Book"> <i class="icon fa-pencil-square-o"></i>Retrive</a>`;
                                }
                            },
                        }
                    ]
            });
        });

        function RetriveBook(Id) {
            if (confirm('Retrive Selected Book!')) {
                $.ajax({
                    url: '/api/StudentsBooks/RetriveBook?Id=' + Id,
                    dataType: 'json',
                    type: 'POST',
                    //data: {
                    //    Id: Id
                    //},
                    success: function (data) {
                        if (data.Success) {
                            toastr.success(data.Messages);
                            oTable = $('#example').DataTable();
                            oTable.draw();
                        } else {
                            toastr.error(data.Messages);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.error('Server Error');

                    }
                });
            }
            return false;
        }

    </script>
}


